<div class="container">
  <div id="task-1">
    <h3 class="task-header">1.Confirm the date of your move</h3>
    <p class="task-paragraph">I know it seems simple but this is an esential first step.
    You'll need to get your moving date officially confirmed by your
    conveyancers and the house sellers so you know how to plan the
    rest of the move effectively.</p>
  </div>
  <%#= check = Checkbox.new %>
  <%#= check.user_id = current_user.id %>
  <%#= %>
</div>
