<div class="container">
  <div id="task-1">
    <h3 class="task-header">1.Confirm the date of your move</h3>
    <p class="task-paragraph">I know it seems simple but this is an esential first step.
    You'll need to get your moving date officially confirmed by your
    conveyancers and the house sellers so you know how to plan the
    rest of the move effectively.</p>
  </div>

  <%#= if Checkbox.each {|box| box.user_id == current_user.id && box.task_number == 1 ? puts box : new_box = Checkbox.new  %>
  <%#= check = Checkbox.new %>
  <%#= check.user_id = current_user.id %>
  <%#= %>
</div>
<div class="container">
  <div id="task-2">
    <h3 class="task-header">2.Give notice to your landlord</h3>
    <p class="task-paragraph">If you're renting, you'll need to let your landlord
      know the exact date you're moving out. Hopefully this will coincide with the
       end of your lease, as this avoids paying for both rent and your mortgage at the same time. </p>
  </div>
</div>
<div class="container">
  <div id="task-3">
    <h3 class="task-header">3.Contact your utility suppliers</h3>
    <p class="task-paragraph">Let all of your utility suppliers know that you're planning to move out – electricity, gas, phone and broadband suppliers will all need to know when you're leaving the property.
Chances are, you'll be moving your phone and broadband across to your new property. Give your supplier as much notice as possible, as moving service may take several weeks.
You may have to wait for your internet connection to be set up at your new property, so make sure you download anything important you might need, like appliance instructions, directions, and those films you've been meaning to watch.
If you find yourself without internet when you move in, try turning your phone into a mobile hotspot. It's not a long term solution, but it will help you keep on top of things.</p>
  </div>
</div>
<div class="container">
  <div id="task-4">
    <h3 class="task-header">4.Get quotes on your removal costs</h3>
    <p class="task-paragraph">I f you're moving into a small property, or if cost is a large factor, it'll probably be cheaper to rent a van and get a few friends to help. However, that can easily add to the stress of moving day, so make sure it's right for you.
If you'd prefer a professional service, visit the British Association of Removersopens in new window to get a quote online. The British Association of Removers have an established code of practice, and are monitored by the Trading Standards Institute. </p>
  </div>
</div>
