.navbar-lewagon {
  justify-content: space-between;
  background: #E9D2F4;
  color: #304D6D;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  font-size: 35px;
  margin-top: -1%;
  margin-bottom: -1%;
  color: #304D6D;
}

.changing-smiley{
  font-size: 37px;
  color: #304D6D;
}
.nav-item{
  color: #304D6D !important;
}
